
@{
	Layout = "~/Views/Shared/_LayoutsAdmin.cshtml";
}
<div class="container">
	<div class=" row mt-5">
		<div class="col">

            <div class="card mt-5">
                <div class="card-body">
                    <form asp-action="update_stadiums" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div class="row">
                            <div class="col">
                                <label class="form-label">اسم الملعب</label>
                                <input type="text" name="Name" class="form-control" value="@Model.Name" />
                            </div>
                            <div class="col">
                                <label class="form-label">السعة</label>
                                <input type="number" name="Capacity" class="form-control" value="@Model.Capacity" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <label class="form-label">المدينة</label>
                                <select name="City" class="form-control">
                                    <option value="">اختر المدينة</option>
                                    <option value="الرياض">الرياض</option>
                                    <option value="جدة">جدة</option>
                                    <option value="الدمام">الدمام</option>
                                    <option value="بريدة">بريدة</option>
                                    <option value="نيوم">نيوم</option>
                                    <option value="أبها">أبها</option>
                                    <option value="مكة المكرمة">مكة المكرمة</option>
                                </select>
                            </div>
                            <div class="col">
                                <label class="form-label">نوع الملعب</label>
                                <input type="text" name="Type" class="form-control" value="@Model.Type" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <label class="form-label">المالك</label>
                                <input type="text" name="Owner" class="form-control" value="@Model.Owner" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <label class="form-label">الطول</label>
                                <input type="number" step="0.01" name="Length" class="form-control" value="@Model.Length" />
                            </div>
                            <div class="col">
                                <label class="form-label">العرض</label>
                                <input type="number" step="0.01" name="Width" class="form-control" value="@Model.Width" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <label class="form-label">الارتفاع</label>
                                <input type="number" step="0.01" name="Height" class="form-control" value="@Model.Height" />
                            </div>
                            <div class="col">
                                <label class="form-label">صورة الملعب</label>
                                <input type="file" name="photo" class="form-control" value="@Model.Image" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col text-center">
                                <button type="submit" class="btn btn-primary">حفظ</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>


</div>
	</div>
</div>